{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../static/images/contact-mail.png" width="40" height="40" class="d-inline-block align-top" alt="" class="image">
                CONTACTS BOOK
            </a>
          <ul class="nav ">
            <li class="nav-item active"> <a href="#" class="nav-link text-dark ">About</a> </li>
            <li class="nav-item "> <a href="#" class="nav-link text-dark ">Login</a> </li>
            <li class="nav-item "> <a href="#" class="nav-link text-dark ">List</a> </li>


          </ul>
        </div>
    </nav>
     <div class="overbg">
        <div class="container-fluid d-flex align-items-center  justify-content-center overlay">
            <h1 style="font-size: 5em;" class="text-center text-dark"><b>CONTACT LIST</b>
                </h1> 
            
       
        </div>

    </div>
    

    <section>
    <div class="container">
        <div class="row">
            <div class="contactForm">
                <h2>Add a Contact</h2>
                <div class="row row-cols-1">
                    <div class="col">
                        <form action="{% url 'add' %}" method="post">
                            {% csrf_token %}
                            <div class="formBox">
                                <div class="inputBox w50">
                                    <input type="text" name="firstname" required>
                                    <span>First Name</span>
                                </div>
                                <div class="inputBox w50">
                                    <input type="text" name="lastname" class="tx1" required>
                                    <span>Last Name</span>
                                </div>
                                <div class="inputBox w50">
                                    <input type="text" name="email" required>
                                    <span>Email <Address></Address></span>
                                </div>
                                <div class="inputBox w50">
                                    <input type="text" name="phonenumber" class="tx1" required>
                                    <span>Phone Number</span>
                                </div>
                                <div class="inputBox w100">
                                    <textarea name="address" required></textarea>
                                    <span>Address</span>
                                </div>
                                <div class="inputBox w50">
                                    <input type="submit" value="SAVE">
                                   
                                </div>
                
                            </div>

                        </form>
                        

                    </div>
                   
                </div>
            </div> 
                
        </div>

    </div>
</section>
  
    
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>